* {
    margin: 0;
  }
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    background: aquamarine;
    height: 100vh;
  }
  section {
    background: white;
    border-radius: 2%;
    width: 16rem;
    height: 18rem;
    text-align: center;
  }