* {
    margin: 0;
  }
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    background: aquamarine;
    height: 100vh;
  }
  .card {
    background: white;
    border-radius: 2%;
    width: 16rem;
    height: 18rem;
  }
.card__header{
    text-align: center;

}

.button__clear{
  background:white;
  border:none;
  width:1rem;
  height:1rem;
  
}
.button__clear:hover{
  filter:opacity(50%);
}
