* {
    margin: 0;
  }
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    background: aquamarine;
    height: 100vh;
  }
  section {
    background: white;
    border-radius: 2%;
    width: 16rem;
    height: 18rem;
    text-align: center;
    padding:1rem;
    
    display: flex;
    flex-direction:column;
    justify-content: space-between;
  }
  
  .botoes button{
    background:white;
    border:none;
    border:1px solid rgb(68, 136, 113);
    padding: 5px;
  }
  .botoes button:active{
    background:rgb(68, 136, 113);
    color:white;
  }
  
  /* Acionado pelo JS */
  .cor-pausa{
    color:rgb(39, 82, 102);
  }